<% content_for :sidebar do %>
<p>
	<%= link_to image_tag('new_family_icon.png'), new_family_path %>
</p>
	<p>This is Tribuo. On this main page, you can get updates on the status of your project and see any issues that need to be taken care of.</p>
<% end %>

<p>Welcome to Tribuo.</p>

<p>
News (Last updated: 11-12-08 at 12:21AM)

</p>
<p>
	Started cleaning up the views. Family list was first. As well as the header.  You can now click any of the column labels to resort the list by that parameter. Search is there still, only by last name still. It is case sensitive right now, so Alder will give results, but alder won't. Expect individual family pages to get a makeover next.
</p>
<p>
	Rough Search has been added. It might be useful while you enter stuff, so I went ahead and turned it on.  You can only search by lastname for now. I'll expand on that later.
</p>	
<p>
	The Families list is now ordered by Last name, and a rough system for Search is being implemented on the back end and will be revealed for you later.  You'll also notice the list "paginates", or limits the number of families per page to 25 to allow for easier viewing. There are now a few links in the Activities page to play with. You can add food items to track and view a Shopping List afterwards.
</p>
<p>
	I've fixed a bit of wording on the Show family form temporarily, so the Create button and form makes a bit more sense. Sorry about that. That page will change drastically in the future, though. For the better.
</p>
<p>Stats at glance:</p>