<% content_for :sidebar do %>
	<p>This is Tribuo. On this main page, you can get updates on the status of your project and see any issues that need to be taken care of.</p>
<% end %>

<p>Welcome to Tribuo.</p>

<p>
News (Last updated: 11-10-08 at 11:32AM)

</p>
<p>
	I've fixed a bit of wording on the Show family form temporarily, so the Create button and form makes a bit more sense. Sorry about that. That page will change drastically in the future, though. For the better.
	</p>
<p>
	When you see the upper right box (the one with your name in it) turn from green to salmon-orangish whatever, the system is going to be updated soon.  If you are in the middle of work and notice the color change, please find a 
stopping point and wait until the update is complete and the color turns green again. There will be a 7-10 minute window from when the color first changes from green to when the update begins to ensure you have time to finish your work.  These changes generally will not disrupt service to the site, but for the first few days I want to make sure that nothing goes wrong. Thanks - Lee.
</p>
<p>Stats at glance:</p>