<% content_for :sidebar do %>
	<p>This is Tribuo. On this main page, you can get updates on the status of your project and see any issues that need to be taken care of.</p>
<% end %>

<p>Welcome to Tribuo.</p>
<p>Stats at glance:</p>