/* @override 
	http://0.0.0.0:3000/stylesheets/tribuo.css?1223913182
	http://0.0.0.0:3000/stylesheets/tribuo.css?1223917306
	http://0.0.0.0:3000/stylesheets/tribuo.css?1223949523
	http://0.0.0.0:3000/stylesheets/tribuo.css?1224379990
	http://0.0.0.0:3000/stylesheets/tribuo.css?1224516208
	http://0.0.0.0:3000/stylesheets/tribuo.css?1224727820
	http://0.0.0.0:3000/stylesheets/tribuo.css?1226286439
	http://0.0.0.0:3000/stylesheets/tribuo.css?1226967786
	http://0.0.0.0:3000/stylesheets/tribuo.css?1226984155
*/

body {
	background: #60666c url(../images/bluegraybg.png) repeat;
	text-align: center;
}
/*
Styling for main page
*/
#main #page-wrapper {
	width: 1004px;
	position: relative;
	left: 50%;
	margin-left: -512px;
}

#main #header {
	clear: both;
}
#main #header #logo {
	float: left;
	height: 100px;
	margin: 0px;
	border: 0px;
}

a img {
	border: 0px;
	text-decoration: none;
}

#main #header #menu {
	float: right;
	margin-top: -16px;
}

#main #header #menu li {
	margin: 0px;
	border: 0px;
	padding: 0px;
	list-style-type: none;
	display: inline-block;
	height: 100px;
	width: 100px;
	vertical-align: bottom;
	color: #f8feff;
	background-color: #ea63ff;
	margin: 0;
	font: 24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	overflow: hidden;
}

#main #header #menu li a {
	color: white;
	text-decoration: none;
	background-color: #ea63ff;
	width: 100px;
	height: 100px;
	display: block;
	line-height: 150px;
	overflow: hidden;
	background-image: url(../images/naviconbg.jpg);
}

#main #header #menu li a:hover {
	color: white;
	text-decoration: none;
	background-color: #f98ee0;
	width: 100px;
	height: 100px;
	display: block;
	line-height: 150px;
	overflow: hidden;
	background-image: url(../images/naviconbghover.jpg);
}

#main #header #user {
	margin-left: 5px;
	padding-right: 5px;
	float: right;
	height: 90px;
	width: 195px;
	text-align: right;
	background-color: #c5ec60;
	background-image: url(../images/userblockbg.jpg);
	padding-top: 10px;
}

#main #header #userman {
	margin-left: 5px;
	padding-right: 5px;
	float: right;
	height: 90px;
	width: 195px;
	text-align: right;
	padding-top: 10px;
	background-color: #F25D27;
	background-image: url(../images/userblockmanbg.jpg);
}

#main #content {
	clear: both;
	background-color: white;
	text-align: left;
}

#main #content #sidebar {
	float: right;
	padding: 5px;
	width: 190px;
	margin-left: 5px;
	background-color: #dad1cc;
	font: 12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #352f2c;
	background-image: url(../images/sidebarbg.jpg);
}

#main #content #workspace {
	vertical-align: top;
	padding: 5px;
	width: 779px;
	float: left;
	background-color:  white;
	margin-left: 10px;
}

#main #page-wrapper #footer {
	clear: both;
	height: 100px;
	display: block;
}
/*
Styling for Families
*/
.family-row-error {
	background-color: red;
}

.family-row-flagged {
	background-color: #89c2ea;
	margin: 0px;
	border: 0px;
	padding: 0px;	
}

.family-row-odd {
	background-color: white;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

.family-row-even {
	background-color: #f0ecff;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

.family-list {
	font: 16px "Lucida Grande", Lucida, Verdana, sans-serif;
}
.family-list-header {
	background-color: #white;
}
.family-list-header a {
	text-decoration: none;
	color: black;
}

.family-list-header a:hover {
	text-decoration: underline;
	color: maroon;
}


.family-list tr td {
	padding-right: 15px;
	margin: 0px;
	/* border-bottom: 1px solid silver; */
}

.family-row-action a{
	text-align: center;
	display: block;
	width: 65px;
	color: white;
	background-color: navy;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-decoration: none;
}

.family-row-action a:hover {
	text-align: center;
	color: orange;
	width: 65px;
	background-color: red;
}

.family-row-childrensize {
	text-align: center;
}

.family-row-size {
	text-align: center;
}
.family-row-foodonly {
	text-align: center;
}

.user-greeting a{
	color: White;
	text-decoration: none;
	font: bold 24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
.logout-link a, .invite-link a{
	color: black;
	text-decoration: none;
}

.logout-link a:hover, .invite-link a:hover{
	color: red;
	text-decoration: underline;
}
/*
Styling for public facing 
login page
*/
#loginpage #page-wrapper {
	width: 800px;
	position: relative;
	left: 50%;
	margin-left:  -400px;
}

#loginpage #sidebar {
	float: left;
	width: 350px;
	height: 200px;
	vertical-align: middle;
	line-height: 200px;
	padding-top: 25px;
}

#loginpage #content {
	width: 350px;
	text-align: center;
	float:  right;
	line-height: 200px;
	height: 200px;
}

#loginpage #content p#slogan {
	color: #FFFFFF;
	font: 20px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	line-height: 200px;
}

#loginpage #loginform {
	text-align: center;
	clear: both;
	padding-top: 25px;
}

#loginpage #footer {
	clear: both;
}

#loginpage #footer p {
	color: whitesmoke;
	font-family: Arial, Helvetica, Geneva, sans-serif;
}

/*
Styling for Family Show Page
*/
.show_family_name {
	font-size: 1.7em;
}

.family_flag_image {
	width: 25px;
	height: 25px;
}

/*
	Styling for Toy Shopping List
*/
.toyrow {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	padding: 5px;
	background-color: #cdd3dd;
	color: #000;
}

.toyrowodd {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	padding: 5px;
	background-color: #fdfdf5;
}
.toyroweven {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	padding: 5px;
	background-color: #eefcf9;
}
.toycolumnage {
	font-weight: bold;
	background-color: #e9f1fc;
	color: #000;
	text-align: center;
	vertical-align: middle;
	border: none;
}
.toycolumnitem {
	font-size: 23px;
	text-align: center;
	width: 75px;
	border: none;
}
.toyheaderitem {
	text-align: center;
}

.toycolumntotal {
	text-decoration: none;
	font-weight: bold;
	font-size: 23px;
	text-align: center;
	width: 75px;
}
.toycolumntotal a {
	text-decoration: none;
	color: blue;
}

.toycolumnitem a{
	color: blue;
	text-decoration: none;
}

.toycolumnitem a:hover, .toycolumntotal a:hover {
	color: green;
}

#toytable {
	display: inline-table;
}
#toyshoppinglistcontainer {
	text-align: center;
}
.post-author {
	color: navy;
	margin: 0;
	font-style: italic;
}
.post-title {
	background-color: #d27bc6;
	margin: 0;
	border-color: #5d6b87;
	color: #fff;
	padding-left: 5px;
	font: 27px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
.post_item {
	background-color: #e3fefa;
	border: 2px solid #def8f5;
	margin: 10px;
}