
<table id="food_list_table">
	<tr>
		<th>
			Food
		</th>
		<th>
			Quantity
		</th>
		<th>
			Cost
		</th>
	</tr>
<%
@foodtotal = 0
for fd in @food
%>
	<tr>
		<td>
			<%= fd.name %> 
		</td>
		<td>
			<%= @foodcounts[fd][:quantity] %>
		</td>
		<td>
			<%= @foodcounts[fd][:cost] %>
			<% @foodtotal += @foodcounts[fd][:cost] -%>
		</td>
	</tr>
<%	
end
%>
	<tr>
		<td>
			Total
		</td>
		<td>
		</td>
		<td>
			<%= @foodtotal %>
		</td>
	</tr>
</table>