<h1>Activities</h1>
<h2>Pretty Design for this Incoming...</h2>
<ul>
  <li><%= link_to "Add/Modify Food Items", :controller => "foods" %></li>
  <li><%= link_to "View Food Shopping List", :controller => "shoppinglist", :action => "food" %></li>
  <li><%= link_to "View Toy Shopping List", :controller => "shoppinglist", :action => "toys" %></li>
  <li><%= link_to "Add Homepage Message", new_post_url %>
</ul>
